.f-wrapper {
    margin-right: 10rem;
    margin-left: 10rem;
}

.f-container {
    justify-content: space-between;
}

.f-left {
    gap: 1rem;
}

.f-menu {
    gap: 1.5rem;
    margin-top: 0.5rem;
    font-weight: 500;
}

@media (max-width: 1024px) {
    .f-wrapper {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .f-container {
        justify-content: center;
    }
    .f-container>div {
        align-items: center!important;
        text-align: center;
    }
}